src/main/resources/schemas/datex2-v3_2/DATEXII_3_RoadTrafficData.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:roa="http://datex2.eu/schema/3/roadTrafficData" version="3.2" targetNamespace="http://datex2.eu/schema/3/roadTrafficData" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_MeasuredOrDerivedDataTypeEnum">
    <xs:simpleContent>
      <xs:extension base="roa:MeasuredOrDerivedDataTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteIndexMeasurementSpecificCharacteristics">
    <xs:sequence>
      <xs:element name="measurementSpecificCharacteristics" type="roa:MeasurementSpecificCharacteristics" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="roa:MeasurementSiteTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="roa:MeasurementSite" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_SiteMeasurementsIndexPhysicalQuantity">
    <xs:sequence>
      <xs:element name="physicalQuantity" type="roa:PhysicalQuantity" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_TimeMeaningEnum">
    <xs:simpleContent>
      <xs:extension base="roa:TimeMeaningEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TrafficStatusEnum">
    <xs:simpleContent>
      <xs:extension base="roa:TrafficStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TravelTimeTypeEnum">
    <xs:simpleContent>
      <xs:extension base="roa:TravelTimeTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BasicData" abstract="true">
    <xs:annotation>
      <xs:documentation>Data that are either measured or calculated at the same time or over the same time period.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementOrCalculationTime" type="roa:MeasurementOrCalculationTime">
        <xs:annotation>
          <xs:documentation>Characteristics of the measurement or calculation time which should be considered to override any specified defaults</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_basicDataExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateTimeValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of an instant in time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="dateTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A time stamp defining an instant in time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_dateTimeValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DurationValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of a period of time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="duration" type="com:Seconds" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A period of time expressed in seconds.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_durationValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElaboratedDataPublication">
    <xs:annotation>
      <xs:documentation>A publication containing one or more elaborated data sets.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="forecastDefault" type="com:Boolean" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The default value for the publication of whether the elaborated data is a forecast (true = forecast).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="periodDefault" type="com:Seconds" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The default value for the publication of the time elapsed between the beginning and the end of the sampling or measurement period. This item may differ from the unit attribute; e.g. an hourly flow can be estimated from a 5-minute measurement period.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="timeDefault" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The default for the publication of the time at which the values have been computed/derived.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="physicalQuantity" type="roa:PhysicalQuantity" maxOccurs="unbounded" />
          <xs:element name="_elaboratedDataPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasuredDataPublication">
    <xs:annotation>
      <xs:documentation>A publication containing one or more measurement data sets, each set being measured at a single measurement site.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="measurementSiteTableReference" type="roa:_MeasurementSiteTableVersionedReference" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A reference to a versioned Measurement Site table.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="siteMeasurements" type="roa:SiteMeasurements" maxOccurs="unbounded" />
          <xs:element name="_measuredDataPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeasuredOrDerivedDataTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of measured or derived data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="humidityInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived humidity information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="individualVehicleMeasurements">
        <xs:annotation>
          <xs:documentation>Measured or derived individual vehicle measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pollutionInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived pollution information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="precipitationInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived precipitation information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pressureInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived pressure information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadSurfaceConditionInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived road surface conditions information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temperatureInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived temperature information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficConcentration">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic concentration information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficFlow">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic flow information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficGap">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic gap information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficHeadway">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic headway information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficSpeed">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic speed information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficStatusInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic status information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="travelTimeInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived travel time information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="visibilityInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived visibility information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="windInformation">
        <xs:annotation>
          <xs:documentation>Measured or derived wind information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasurementOrCalculationTime">
    <xs:annotation>
      <xs:documentation>Describes the time at which a measured or calculated value or set of values was measured or calculated. It may be a future time at which a data value is predicted to apply.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="timeMeaning" type="roa:_TimeMeaningEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Meaning of associated time value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeValue" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Point in time at which this specific value or set of values has been measured or calculated. It may also be a future time at which a data value is predicted.  It may be the time of the beginning, the end or the middle of a measurement period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_measurementOrCalculationTimeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="timePrecision" type="com:TimePrecisionEnum" use="optional">
      <xs:annotation>
        <xs:documentation>The precision to which the time of measurement or calculation is given.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MeasurementSite">
    <xs:annotation>
      <xs:documentation>An identifiable single measurement site entry/record in the measurement site table.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementSpecificCharacteristics" type="roa:_MeasurementSiteIndexMeasurementSpecificCharacteristics" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indexed measurement-specific characteristics associated with the measurement site. The index uniquely associates the measurement characteristics with the corresponding indexed measurement values for the measurement site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementSiteLocation" type="loc:LocationReference" />
      <xs:element name="_measurementSiteExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="MeasurementSiteTable">
    <xs:annotation>
      <xs:documentation>A Measurement Site Table comprising a number of sets of data, each describing the location from where a stream of measured data may be derived.  Each location is known as a "measurement site" which can be a point, a linear road section or an area.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementSite" type="roa:MeasurementSite" maxOccurs="unbounded" />
      <xs:element name="_measurementSiteTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="MeasurementSiteTablePublication">
    <xs:annotation>
      <xs:documentation>A publication containing one or more Measurement Site Tables.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="measurementSiteTable" type="roa:MeasurementSiteTable" maxOccurs="unbounded" />
          <xs:element name="_measurementSiteTablePublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementSpecificCharacteristics">
    <xs:annotation>
      <xs:documentation>Characteristics which are specific to an individual measurement type (specified in a known order) at the given measurement site.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="accuracy" type="com:Percentage" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The extent to which the value is expected to be free from error, measured as a percentage of the data value. 100% means fully accurate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="period" type="com:Seconds" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The time elapsed between the beginning and the end of the sampling or measurement period. This item may differ from the unit attribute; e.g. an hourly flow can be estimated from a 5-minute measurement period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specificMeasurementValueType" type="roa:_MeasuredOrDerivedDataTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The type of this specific measurement at the measurement site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specificVehicleCharacteristics" type="com:VehicleCharacteristics" minOccurs="0" />
      <xs:element name="specificLane" type="loc:Lane" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The lane(s) to which the specific measurement at the measurement site relate(s). This overrides any lane specified for the measurement site as a whole.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_measurementSpecificCharacteristicsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhysicalQuantity" abstract="true">
    <xs:annotation>
      <xs:documentation>A measured or calculated physical quantity, with related properties explaining its context, meaning or status</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="forecast" type="com:Boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indication of whether this quantity data is a forecast (true = forecast).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementEquipmentTypeUsed" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The type of equipment used to gather the raw information from which the data values are determined, e.g. 'loop', 'ANPR' (automatic number plate recognition) or 'urban traffic management system' (such as SCOOT).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="pertinentLocation" type="loc:LocationReference">
        <xs:annotation>
          <xs:documentation>The location (e.g. the stretch of road or area) to which the data value(s) is or are pertinent/relevant. This may be different from the location of the measurement equipment (i.e. the measurement site location). </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_physicalQuantityExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SinglePhysicalQuantity">
    <xs:annotation>
      <xs:documentation>A measured or calculated physical quantity at a single instant or period in time, with related properties explaining its context, meaning or status</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:PhysicalQuantity">
        <xs:sequence>
          <xs:element name="basicData" type="roa:BasicData" minOccurs="0" />
          <xs:element name="_singlePhysicalQuantityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SiteMeasurements">
    <xs:annotation>
      <xs:documentation>A  measurement data set derived from a specific measurement site.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementSiteReference" type="roa:_MeasurementSiteVersionedReference" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A reference to a versioned measurement site record defined in a Measurement Site table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="physicalQuantity" type="roa:_SiteMeasurementsIndexPhysicalQuantity" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indexed measured value associated with the measurement site. The index uniquely associates the measurement value with the corresponding indexed measurement characteristics defined for the measurement site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementTimeDefault" type="roa:MeasurementOrCalculationTime">
        <xs:annotation>
          <xs:documentation>The time associated with the set of measurements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_siteMeasurementsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TimeMeaningEnum">
    <xs:annotation>
      <xs:documentation>Explains the meaning of a specific time value with respect to a time period</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="beginTime">
        <xs:annotation>
          <xs:documentation>Meaning the beginning of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="endTime">
        <xs:annotation>
          <xs:documentation>Meaning the end of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="middleTime">
        <xs:annotation>
          <xs:documentation>Meaning the mid-point of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TimeProfiledPhysicalQuantity">
    <xs:annotation>
      <xs:documentation>A set of values for a measured or calculated physical quantity over a set of measurement or calculation times</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:PhysicalQuantity">
        <xs:sequence>
          <xs:element name="basicData" type="roa:BasicData" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_timeProfiledPhysicalQuantityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficData" abstract="true">
    <xs:annotation>
      <xs:documentation>Measured or derived values relating to traffic or individual vehicle movements on a specific section or at a specific point on the road network.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:BasicData">
        <xs:sequence>
          <xs:element name="forVehiclesWithCharacteristicsOf" type="com:VehicleCharacteristics" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Used to define the vehicle characteristics to which the TrafficValue is applicable primarily in Elaborated Data Publications, but may also be used in Measured Data Publications to override vehicle characteristics defined for the measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficDataExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficFlow">
    <xs:annotation>
      <xs:documentation>Averaged measurements or calculations of traffic flow rates.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:TrafficData">
        <xs:sequence>
          <xs:element name="vehicleFlow" type="com:VehicleFlowValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement of flow rate defined in terms of the number of vehicles passing the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficFlowExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficSpeed">
    <xs:annotation>
      <xs:documentation>Averaged measurements or calculations of traffic speed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:TrafficData">
        <xs:sequence>
          <xs:element name="averageVehicleSpeed" type="com:SpeedValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement or calculation of the speed of vehicles at the specified location.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficSpeedExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficStatus">
    <xs:annotation>
      <xs:documentation>The status of traffic conditions on a specific section or at a specific point on the road network.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:BasicData">
        <xs:sequence>
          <xs:element name="trafficStatus" type="roa:TrafficStatusValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Status of traffic conditions on the identified section of road in the specified direction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TrafficStatusEnum">
    <xs:annotation>
      <xs:documentation>List of terms used to describe traffic conditions.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="stationary">
        <xs:annotation>
          <xs:documentation>Traffic is stationary, or very near stationary, at the specified location (i.e. average speed is less than 10% of its free-flow level).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="queuing">
        <xs:annotation>
          <xs:documentation>Traffic is queuing at the specified location, although there is still some traffic movement (i.e. average speed is between 10% and 25% of its free-flow level).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="slow">
        <xs:annotation>
          <xs:documentation>Traffic is slow moving at the specified location, but not yet forming queues (i.e. average speed is between 25% and 75% of its free-flow level).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="heavy">
        <xs:annotation>
          <xs:documentation>Traffic in the specified direction is heavier than usual making driving conditions more difficult than normal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unspecifiedAbnormal">
        <xs:annotation>
          <xs:documentation>There are abnormal traffic conditions of an unspecified nature at the specified location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="freeFlow">
        <xs:annotation>
          <xs:documentation>Traffic at the specified location is free-flowing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Traffic conditions are unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TrafficStatusValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of the status of traffic conditions on a section of road in a specified direction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="trafficStatusValue" type="roa:_TrafficStatusEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A status value of traffic conditions on the identified section of road in the specified direction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficStatusValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TravelTimeData">
    <xs:annotation>
      <xs:documentation>Derived/computed travel time information relating to a linear section of the road network; forecast = true means a forecast for a vehicle at the start of the specified location, forecast = false means calculation/measurement at the end.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:BasicData">
        <xs:sequence>
          <xs:element name="travelTimeType" type="roa:_TravelTimeTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indication of the way in which the travel time is derived.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="travelTime" type="roa:DurationValue">
            <xs:annotation>
              <xs:documentation>Derived/computed travel time information relating to a specific group of locations.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_travelTimeDataExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TravelTimeTypeEnum">
    <xs:annotation>
      <xs:documentation>List of ways in which travel times are derived.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="best">
        <xs:annotation>
          <xs:documentation>Travel time is derived from the best out of a monitored sample.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="estimated">
        <xs:annotation>
          <xs:documentation>Travel time is an automated estimate.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="instantaneous">
        <xs:annotation>
          <xs:documentation>Travel time is derived from instantaneous measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="reconstituted">
        <xs:annotation>
          <xs:documentation>Travel time is reconstituted from other measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="predictor">
        <xs:annotation>
          <xs:documentation>Travel time is the output of a predictor, for example a blend of current and historical data, or a traffic flow model using current measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="profile">
        <xs:annotation>
          <xs:documentation>Travel time is based on past observations, without use of current measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sum">
        <xs:annotation>
          <xs:documentation>Travel time is the sum of current travel times on subsections of the specified location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>